.Box{
    /* padding: 80px 60px; */
    display:flex;
    flex-direction: row;
    background: black;
    position: absolute;
    /* bottom: 0; */
    width: 100%;
    justify-content:space-around;

}


.Container{
    display: flex;
	flex-direction: column;
	justify-content: center;
	/* max-width: 1000px;
	margin: 0 auto; */
}

.Column{
    display: flex;
flex-direction: column;
text-align: left;
margin-left: 60px;
}

.Row{
    display: flex;
grid-template-columns: repeat(auto-fill,
						minmax(185px, 1fr));
grid-gap: 20px;


}


.FooterLink{
    color: #fff;
margin-bottom: 20px;
font-size: 18px;
text-decoration: none;


}

.FooterLink :hover {
	color: rgb(67, 99, 245);
	transition: 200ms ease-in;
}

.Heading{
    font-size: 24px;
color: #fff;
margin-bottom: 40px;
font-weight: bold;
}

.copyright-notice{
    display:flex;
    flex-wrap: wrap;
    align-content: flex-end;
}